{% extends 'base.html.twig' %}
{% block titulo%}Viajes{%endblock%}
{% block stylesheets %}
  <link href="{{ asset ('css/dssdCSS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
    <h2> Aplicacion de viajes </h2>      
{%endblock%} 